@import url('https://fonts.googleapis.com/css?family=Muli:400,500,600,700&display=swap');

@font-face {
  font-family: Moderat;
  src: url('./assets/fonts/Moderat-Regular.otf');
}

@font-face {
  font-family: Moderat;
  src: url('./assets/fonts/Moderat-Regular.otf');
  font-style: italic;
}

@font-face {
  font-family: Moderat;
  src: url('./assets/fonts/Moderat-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: Moderat;
  src: url('./assets/fonts/Moderat-Bold-Italic.otf');
  font-weight: bold;
  font-style: italic;
}

body {
  margin: 0;
  padding: 0;
  font-family: Moderat, sans-serif;
  color: #1d1d1b;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f9ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.move-right-left-forward-enter {
  transform: translateX(100%);
}
.move-right-left-reverse-enter {
  transform: translateX(-100%);
}
.move-right-left-forward-enter-active,
.move-right-left-reverse-enter-active {
  transition: transform 1000ms ease-in-out;
  transform: translateX(0);
}
.move-right-left-forward-exit,
.move-right-left-reverse-exit {
  transform: translateX(0);
}

.move-right-left-forward-exit-active {
  transition: transform 1000ms ease-in-out;
  transform: translateX(-100%);
}

.move-right-left-reverse-exit-active {
  transition: transform 1000ms ease-in-out;
  transform: translateX(100%);
}
